#minutes {
  margin-bottom: 10px;
}

#minutes h3 {
  margin:0;
  padding:5px 0 5px 10px;
  background-color:#48AB4E;
  border-bottom:1px solid #fff;
  color: #00314F;
  font-weight:normal;
}

#minutes div {
  background-color: #F4F4EE;
  border-bottom:1px solid #fff;
  position: relative;
}

#minutes img {
  margin:10px;
  background-color: #F4F4EE;
}

#minutes p {
  position: absolute;
  left: 120px;
  top: 10px;
  margin: 0 10px 0 0;
  padding: 0;
}